# Project gitignore
configs/envs
services_data/

nflog
silences

.idea
bin
go.sum
log
.env
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
